<section xmlns="http://www.w3.org/1999/html">
    <div class="form" ng-controller="FormCtrl">
        <div class="contacts" ng-controller="ContactCtrl as cnt">
            <div class="row">
                <form action="" name="contacts">
                    <div form-group label="First Name:" class="col-md-6">
                        <input type="text" class="form-control"
                        id="firstName"
                        name="firstName"
                        ng-model="cnt.contact.firstName"/>
                    </div>

                    <div form-group label="Last Name:" class="col-md-6">
                        <input type="text" class="form-control"
                        id="lastName"
                        ng-model="cnt.contact.lastName"/>
                    </div>

                    <div form-group label="Mobile:" class="col-md-12">
                        <input type="text" class="form-control"
                               name="contactMobile"
                               id="Mobile"
                               ng-model="cnt.contact.mobile"/>
                    </div>

                    <div form-group label="Land line:" class="col-md-12">
                        <input type="text" class="form-control"
                               name="contactLandLine"
                               id="landline"
                               ng-model="cnt.contact.landline"/>
                    </div>

                    <div form-group label="Email:" class="col-md-12">
                        <input type="email" class="form-control"
                        name="contactEmail"
                        id="contact-email"
                        ng-model="cnt.contact.email"/>
                    </div>

                    <div form-group label="Description:" class="col-md-12">
                        <textarea type="text" class="form-control"
                               name="contactDescription"
                               id="description"
                               ng-model="cnt.contact.description">
                        </textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>

        </div>
    </div>
</section>
